mat-card {
  margin: 8px;

  display: flex;
  flex-direction: column;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .icons{
    position: absolute;
    right: 0;
  }

}

.mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 30px;
  .mat-list-item-content{
    padding: 0px 0px;
  }
}



