mat-list-item {
  margin-bottom: 8px;

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  ::ng-deep .mat-list-item-content {
    padding: 0 !important;
  }

  ::ng-deep .subline {
    display: flex !important;
    align-items: center;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    color: rgba(0, 0, 0, .6);
    mat-icon, mat-icon svg {
      width: 18px !important;
      height: 18px !important;
      font-size: 18px !important;
      padding: 0 !important;
    }
    span {
      margin-left: 4px;
    }
  }

  .icons{
    position: absolute;
    right: 0;
  }
}



