<app-week-view
  (highlightedDayChange)="onHighlightedDayChange($event)"
  (currentDayChange)="onCurrentDayChange($event)"
  [appointmentCountMap]="currentAppointmentCountMap"></app-week-view>
<div class="divider"></div>
<div id="currentDateContainer">
  <span id="currentDate">{{ highlightedDay.format('D. MMMM YYYY') }}</span>
</div>
<app-appointment-list [appointments]="appointments"></app-appointment-list>
<button class="lower-right-fab" mat-fab color="accent" [routerLink]="'/termine/neu'">
  <mat-icon svgIcon="plus"></mat-icon>
</button>
