<mat-form-field appearance="outline" class="question-input">
  <mat-icon matPrefix svgIcon="help"></mat-icon>
  <mat-label>Frage</mat-label>
  <input type="text" matInput [formControl]="questionControl" placeholder="Frage eingeben">
</mat-form-field>

<mat-form-field appearance="outline" class="answer-input">
  <mat-icon matPrefix svgIcon="feedback"></mat-icon>
  <mat-label>Antwort</mat-label>
  <input type="text" matInput [formControl]="answerControl" placeholder="Antwort eingeben">
</mat-form-field>

<button class="lower-right-fab" mat-fab color="accent" (click)="save()">
  <mat-icon svgIcon="check"></mat-icon>
</button>
