<div class="flex_one">
  <mat-form-field appearance="outline" class="question-input">
    <mat-icon matPrefix svgIcon="help-circle"></mat-icon>
    <mat-label>Frage</mat-label>
    <input type="text" matInput [formControl]="questionControl" placeholder="Frage eingeben">
  </mat-form-field>
</div>

<div class="flex_two">
  <mat-form-field appearance="outline" class="answer-input">
    <mat-icon matPrefix svgIcon="alert-circle"></mat-icon>
    <mat-label>Antwort</mat-label>
    <input type="text" matInput [formControl]="answerControl" placeholder="Antwort eingeben">
  </mat-form-field>
</div>


<button class="lower-right-fab" mat-fab color="accent" (click)="save()" [disabled]="this.questionControl.value.trim() === '' || this.answerControl.value.trim() === ''">
  <mat-icon svgIcon="check"></mat-icon>
</button>
