.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  text-align: center;
  align-items: stretch;
}

app-flashcard {
  width: 20%;
  display: flex;
}

mat-card {
  align-content: center;
}
