
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$swep-primary: mat-palette($mat-indigo);
$swep-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$swep-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$swep-theme: mat-light-theme($swep-primary, $swep-accent, $swep-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($swep-theme);

@import '../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$swep-primary: mat-palette($mat-red, 900, 700, A700);
$swep-accent:  mat-palette($mat-teal, 700, 500, 900);

// The warn palette is optional (defaults to red).
$swep-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$swep-theme: mat-light-theme($swep-primary, $swep-accent, $swep-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($swep-theme);
