<mat-toolbar color="primary">
  <a class="bottom-nav-item" [class.active]="isCalendarActive()" [routerLink]="'/termine'">
    <mat-icon class="icon" svgIcon="calendar"></mat-icon>
    <span class="text">Kalender</span>
  </a>
  <a class="bottom-nav-item" [class.active]="isGradesActive()" [routerLink]="'/leistungen'">
    <mat-icon class="icon" svgIcon="star"></mat-icon>
    <span class="text">Leistungen</span>
  </a>
  <a class="bottom-nav-item" [class.active]="isDecksActive()" [routerLink]="'/decks'">
    <mat-icon class="icon" svgIcon="school"></mat-icon>
    <span class="text">Karten</span>
  </a>
</mat-toolbar>
