mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 100%;
  .bottom-nav-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .6;
    color: #fff;
    text-decoration: none;
    min-height: 100%;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover, &.active {
      .text, .icon {
        transform: scale(1.1);
      }
    }

    .icon {
      margin-bottom: 4px;
    }

    .text {
      font-size: 14px;
      line-height: 14px;
    }

    .text, .icon {
      transition: transform .15s ease-in-out;
    }

    &.active {
      opacity: 1;
    }
  }
}
